@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


:root{
    --main-color:#8e44ad;
    --black: #222;
    --white: #fff;
    --light-dark: #777;
    --light-white: #fff9;
    --dark-bg:rgba(0,0,0,.7);
    --light-bg:#eee;
    --border:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
}

*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
    
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #bdc3c7, #2c3e50);
}

.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--white);
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: var(--box-shadow);
    align-items: right;
    justify-content: space-between;
}

.header .logo{
    font-size: 2.5rem;
    color: var(--black);
    font-weight: 700;
}

.header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--black);
}

.header .navbar a:hover{
    color: var(--main-color);
}

#menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
    display: none;
}



.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    
    grid-template-columns: repeat(4, 100px);
    grid-template-rows:minmax(120px, auto) repeat(5, 80px);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.calculator-grid button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
    
}

.calculator-grid button:hover{
    background-color: rgba(255, 255, 255, .9);
}

.span-two{
    grid-column: span 2;
}

.output{
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 5px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand{
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand{
    color: white;
    font-size: 2.5rem;
}





@media (max-width:768px){
    .heading h1{
        font-size: 4rem;
    }
    #menu-btn{
        display: inline-block;
        transition: .2s linear;
    }
    #menu-btn.uil-times{
        transform: rotate(180deg);
    }

    .header .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--white);
        border-top: var(--box-shadow) !important;
        padding: 2rem;
        transition: .2s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar.active{
        border-bottom: var(--box-shadow);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        
    }
    .header .navbar a{
        display: block;
        margin: 2rem;
        text-align: center;
    }
}